{% extends 'base.html' %}

{% block content %}
<div class="overlay"></div>
<div class="container contact-admin-2">
  <h1 class="contact-admin">Contact Messages</h1>
  <div class="row-00">
    <div class="col-12">
      <div class="row">
        {% for contact_message in contact_messages %}
        <div class="col-md-6 mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ contact_message.subject }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{ contact_message.name }}</h6>
              <p class="card-text">{{ contact_message.message }}</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><strong>Email:</strong> {{ contact_message.email }}</li>
              <li class="list-group-item"><strong>Created At:</strong> {{ contact_message.created_at }}</li>
            </ul>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
