{% extends 'base.html' %}

{% block content %}
<div class="overlay"></div>
<div class="contact-success card">

<div class="card-header">
<h1>Thank you for contacting us!</h1>
</div>
<div class="card-body">
<p><strong>Thank you for contacting Webster. Our team is working hard to answer customer 
    inquiries in a timely manner. 
    We appreciate your patience and hope you are staying safe.
    <br>
    Thanks,
    <br>
    Webster</strong></p>
</div>
</div>
<div class="my-5 form-button">
    <h4>
        <a href="{% url 'home' %}" class="btn btn-primary py-3">Back to Home Page</a>
    </h4>
</div>
{% endblock %}
