{% extends 'base.html' %}
{% load static %}

<!-- This template displays a 404 error page.-->

{% block content %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
    <div class="container main-container">
        <div class="row">
            <div class="col-lg-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-black">
                    Oops! The page you are looking for isn't available.
                </h1>
                <p class="lead my-5">
                    It seems like the page you were trying to access doesn't exist or has been moved. 
                </p>
                <div class="my-5">
                    <a href="{% url 'home' %}" 
                        class="btn btn-lg btn-primary rounded-0 text-uppercase py-3">
                        Return to shop
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
