<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <div class="col-lg col-sm col-md col-6 flex-grow-0">
            <div class="category-wrap dropdown d-inline-block float-right">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-bars"></i> All Categories
              </button>
              <div class="dropdown-menu">
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
                <a href="{% url 'products' %}?category=price" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?category=rating" class="dropdown-item">By Rating</a>
                <a href="{% url 'products' %}?category=wheight" class="dropdown-item">By Wheight</a>
              </div>
            </div> 
          </div> 
    </ul>
</div>